# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
env/

# macOS
.DS_Store

# Logs
*.log

# Streamlit cache
.streamlit/

# VSCode settings
.vscode/
